body {
  font-family: monospace;
}

a,
a:hover,
a:active,
a:visited {
  color: blue !important;
  text-decoration: none !important;
}

.loading-error {
  color: red;
}

/* menu */
ul#menu, 
ul#menu ul {
  list-style: none;
}

ul#menu {
  padding-left: 0;
}

ul#menu ul {
  padding-left: 2em;
}
